* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
}

/* header heseg*/

.header {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 72px;
  background-color: rgb(30, 27, 27);
  margin: auto;
  margin-top: 20px;
  border-radius: 14px;
  border: 1px #fff solid;
  padding: 16px 24px;
  position: sticky;
  top: 20px;
  opacity: 0.9;
  z-index: 1;
}

.searchl {
  display: flex;
}

.logo {
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2Fmobicom-logo-hq.png&w=256&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 36px;
  margin-right: 30px;
  cursor: pointer;
}

.search {
  width: 221.5px;
  height: 36px;
  margin-right: 32px;
  background-color: #3d3d3d;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.search i {
  color: #b0b0b0;
  font-size: 20px;
  margin-left: 13px;
  margin-right: 8px;
  cursor: pointer;
}

.search input {
  background: none;
  border: none;
  color: #b0b0b0;
  font-size: 16px;
  font-weight: 200;
  width: 170px;
}

.Uilchilgee,
.Medeelel,
.delguur {
  background: none;
  border: none;
  color: #f7f7f7;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
}

.Uilchilgee:hover {
  background: #3d3d3d;
  border-radius: 8px;
}

.Medeelel:hover {
  background: #3d3d3d;
  border-radius: 8px;
}

.delguur:hover {
  background: #3d3d3d;
  border-radius: 8px;
}

.darkwhite {
  display: flex;
  color: #f7f7f7;
  min-width: 320px;
  justify-content: end;
}

.sun,
.delhii,
.sags {
  padding: 8px;
  font-size: 20px;
  margin-left: 7px;
  cursor: pointer;
  background-color: #3d3d3d;
  border-radius: 12px;
  width: 40px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

/* hero heseg */

.heroback {
  display: flex;
  justify-content: space-between;
  background-image: url("https://osa.mobicom.mn/content/mcommerce/uploads/DJI_20231028181037_0240_D_MAX_Recovered_ezgif_com_jpg_to_webp_converter_d02db53f44.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95vw;
  height: 808px;
  margin: auto;
  padding: 144px;
  border-radius: 12px;
  box-shadow: inset 0px -79px 100px -6px rgba(0, 0, 0, 0.3);
}

.engiin {
  width: 50%;
  display: flex;
  align-items: end;
  margin-bottom: 80px;
}

.engiin h1 {
  color: #f7f7f7;
  font-size: 48px;
}

.service {
  width: 50%;
  background-color: #c2bcbc;
  padding: 12px;
  border-radius: 24px;
  width: 522px;
  height: 520px;
}

.serheback {
  background-color: #ffffffd9;
  padding: 8px;
  border-radius: 12px;
}

.serviceheader h3 {
  background-color: #292929;
  color: #f7f7f7;
  padding: 8px 32px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

.sergrand {
  background-color: #ffffffd9;
  padding: 16px;
  margin-top: 12px;
  width: 498px;
  height: 432px;
  border-radius: 14px;
}

.serparent {
  display: flex;
  justify-content: space-around;
}

.ser {
  width: 229px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ser:hover {
  background-color: #ffffff;
  border-radius: 10px;
}

.seri i {
  font-size: 36px;
  color: #f87979;
  border: 2px #fac4c4 solid;
  border-radius: 50%;
  padding: 12px;
}

.ser:hover .seri i {
  border: 2px #fac4c4 solid;
  border-radius: 50%;
  padding: 16px;
}

.hover {
  display: flex;
  align-items: end;
  transition: transform 0.3s linear;
}

.ser h3 {
  font-size: 14px;
  color: #262626;
  margin-top: 12px;
  margin-right: 5px;
}

.hover i {
  opacity: 0;
}

.ser:hover .hover {
  transform: translateX(-15px);
}

.ser:hover .hover i {
  opacity: 1;
}

/* special heseg */

.specialoffers {
  margin-top: 24px;
  position: relative;
}

.specialback {
  background-image: url("https://osa.mobicom.mn/content/mcommerce/uploads/specialOfferBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(31, 31, 31, 0.95);
  width: 95vw;
  height: 666.66px;
  margin: auto;
  /* margin-top: 24px; */
  border-radius: 12px;
  padding-top: 80px;
}

.garchignuud h2 {
  font-size: 48px;
  color: #f7f7f7;
  text-align: center;
}

.cardsearchers {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.cardsearch {
  display: flex;
  align-items: center;
  background-color: #3d3d3d;
  width: 643.5px;
  height: 58px;
  border: 1px #4e4e4e solid;
  border-radius: 12px;
  padding: 8px;
  justify-content: space-between;
}

.cardsearch h3 {
  color: #a3a3a3;
  border-radius: 14px;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
}

.cardsearch h3:hover {
  color: #f7f7f7;
  background-color: #1f1f1ff2;
}

.c1 {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.c1 h3 {
  color: #262626;
  font-size: 14px;
}

.delgerengui {
  display: flex;
  align-items: center;
  margin-left: 16px;
  gap: 2px;
  cursor: pointer;
}

.delgerengui button {
  background: none;
  border: none;
  color: #f7f7f7;
  cursor: pointer;
}

.delgerengui i {
  color: #f7f7f7;
}

.cards {
  display: flex;
  width: 100vw;
  height: 638px;
  padding: 64px;
  position: absolute;
  bottom: -200px;
  overflow: scroll;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  position: relative;
  transition: all 0.3s linear;
}

.card div {
  display: flex;
  justify-content: end;
}

.card i {
  color: #fbbf24;
  background-color: #282828;
  padding: 8px 10px;
  border-radius: 50%;
}

.card p {
  color: #f7f7f7;
  font-size: 18px;
  position: absolute;
  bottom: 54px;
}

.card .border {
  border-bottom: 1px solid #4a4a4a;
  position: absolute;
  bottom: 18px;
  width: 88%;
  margin: 16px 0;
}

.card:hover {
  transform: scale(1.1);
}

.card1,
.card3,
.card7 p {
  text-transform: uppercase;
}

.card1,
.card3,
.card7 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/1080_720_904f6b1f30.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/Special_Olympics_medee_721x1081_143e09ad6c.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card4 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/5_G_1_1f3208070f.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card5 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/mobicom_medee_1_1_be49b51926.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card6 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/mobicom_banner_bosoo_white_1_9a38632671.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card8 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/bosoo_a2239ed3ea.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card9 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/721x1081_mobi_1_300x_5f2b7092a4.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card10 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/tses_94a742c09f.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

/* onlineshop heseg */

.onlineshop {
  margin: auto;
  margin-top: 210px;
  width: 95vw;
  padding: 32px 80px;
  background-color: #fafafa;
  border-radius: 12px;
}

.onlineshop h2 {
  font-size: 48px;
  text-align: center;
}

.parent {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.parent button {
  font-size: 14px;
  background: none;
  border: none;
  padding: 8px 20px;
  color: #262626;
  cursor: pointer;
}

.garparent {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #0000001a;
  border-radius: 10px;
  width: 280px;
}

.garparent button:hover {
  background-color: #eff1f6;
  border-radius: 12px;
}

.btn1 {
  background-color: #222222;
  border-radius: 12px;
}

.btn1 button {
  color: #ffffff;
}

.btn3 {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.btn3 button {
  padding: 8px 0 8px 20px;
  margin-right: 5px;
}

.btn3 i {
  color: #262626;
}

.utasnuud {
  display: flex;
  margin-top: 32px;
  justify-content: center;
}

.utas {
  width: 312px;
  height: 328px;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
}

.utas:hover {
  border: red 1px solid;
  border-radius: 12px;
}

.utas1 {
  width: 641px;
  height: 675px;
  padding: 45px 12px 12px 12px;
  border-radius: 12px;
  background-color: #ffffff;
  margin-right: 16px;
}

.spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.spacebetweentom {
  margin: 16px;
}

.utas h5 {
  font-size: 14px;
  color: #737373;
}

.utas h4 {
  font-size: 18px;
  color: #262626;
}

.utas1 h5 {
  font-size: 14px;
  color: #737373;
}

.utas1 h4 {
  font-size: 24px;
  color: #262626;
}

.utastom {
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2FHUAWEI_Pura_70_Pro_Black_Rear_expand_3a83fc8cb7.webp&w=2048&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 615.6px;
  height: 539px;
}

.utasjijig {
  display: flex;
}

.utasd {
  margin-right: 16px;
}

.utas2 {
  margin-bottom: 16px;
}

.utasd1 {
  margin: auto;
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2FHUAWEI_Pura_70_Pink_Rear_expand_Without_U_e07b3d828c.webp&w=640&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 187px;
  height: 187px;
}

.utasd2 {
  margin: auto;
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2F011_galaxy_s24_onyxblack_front2_8ee17f8957.webp&w=640&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 187px;
  height: 187px;
}

.utass1 {
  margin: auto;
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2Fredmagic_8s_pro_3_a443836e76.webp&w=640&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 187px;
  height: 187px;
}

.utass2 {
  margin: auto;
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2FZTE_A73_1_566aabf3b7.webp&w=640&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 187px;
  height: 187px;
}

/* tuslamj heseg */

.tuslamj {
  padding: 64px 0;
}

.minituslamj {
  display: flex;
  padding: 56px 24px;
  justify-content: space-around;
}

.tuszuun {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tuszuun h2 {
  font-size: 48px;
  color: #262626;
  margin-top: 12px;
  width: 410.6px;
}

.parentai {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-top: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  width: 410px;
  /* height: 93.3px; */
}

.ai {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef3e3e;
  padding: 6px 8px;
  color: #f7f7f7;
  font-size: 20px;
  border-radius: 12px;
  width: 393.33px;
  height: 40px;
  cursor: pointer;
}

.ai:hover {
  background-color: #d73d3d;
}

.openai {
  background-image: url("./img/ailogo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 123px;
  height: 23px;
  margin-top: 12px;
}

/* .openai img {
  width: 393px;
  height: 74px;
} */

.tusback {
  display: flex;
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2FhelpBg.png&w=2048&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 792px;
  height: 600px;
}

.tusleft {
  margin-top: 78px;
}

.tusl {
  margin-right: 25px;
}

.tus {
  padding: 24px;
  background-color: #ffffffd9;
  width: 384px;
  height: 185.33px;
  margin-bottom: 25px;
  border-radius: 16px;
  cursor: pointer;
}

.tus:hover {
  border: red 1px solid;
  border-radius: 16px;
}

.tus4 {
  margin-bottom: 40px;
}

.tus i {
  padding: 12px;
  border: 1px solid #f9bebf;
  border-radius: 50%;
  color: #f87271;
  box-shadow: inset 0px 0px 100px 32px rgba(248, 114, 113, 0.1);
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tus h3 {
  font-size: 20px;
  color: #262626;
  margin-top: 12px;
}

.tus div {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.tus p {
  font-size: 12px;
  color: #737373;
}

.tus div i {
  padding: 0;
  border: none;
  color: #737373;
  box-shadow: none;
  font-size: 12px;
}

/* hogjil heseg */

.hogjil {
  width: 95vw;
  height: 697px;
  background-color: #fafafa;
  margin: auto;
  margin-top: 64px;
  border-radius: 12px;
  box-shadow: inset 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
  padding: 80px 72px;
}

.hogjil h2 {
  font-size: 48px;
  color: #262626;
  text-align: center;
}

.hogcards {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 56px;
}

.hogcard {
  width: 400px;
  height: 433px;
  padding: 0 24px;
  position: relative;
  border-radius: 16px;
  box-shadow: inset 0px -100px 100px -52px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.3s linear;
}

.hogcard:hover {
  transform: scaleX(1.2);
}

.hogcard h5 {
  font-size: 20px;
  color: #f7f7f7;
  position: absolute;
  bottom: 40px;
}

.hogcard div {
  border-bottom: 1px solid #b5b0b0;
  position: absolute;
  bottom: 20px;
  width: 88%;
}

.hogcard1 {
  background-image: url("https://osa.mobicom.mn/content/mcommerce/uploads/SDG_Undsen_chiglel_86da118242.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hogcard2 {
  background-image: url("https://osa.mobicom.mn/content/mcommerce/uploads/SDG_Tusul_hutulbur_643351fc20.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hogcard3 {
  background-image: url("https://osa.mobicom.mn/content/mcommerce/uploads/SDG_Tailan_1db6ec10f5.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* easy app heseg */

.easy {
  padding: 96px 48px;
}

.easy h2 {
  font-size: 48px;
  color: #262626;
  text-align: center;
}

.easyparent {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 0 112px;
}

.dashed {
  display: flex;
  align-items: center;
}

.easyt {
  padding: 24px;
  background-color: #fafafa;
  border: 1px solid #e3e7ed;
  border-radius: 12px;
  width: 384px;
  height: 208px;
  cursor: pointer;
}

.easyt:hover {
  border: 1px solid red;
  border-radius: 12px;
}

.easyt h3 {
  font-size: 20px;
  color: #262626;
  margin-top: 12px;
}

.easyt p {
  font-size: 14px;
  color: #737373;
  margin-top: 8px;
}

.easyimg {
  width: 56px;
  height: 56px;
  padding: 4px;
  border: 1px solid #e3e7ed;
  border-radius: 12px;
}

.easyimg img {
  width: 100%;
}

.easy1 {
  margin-bottom: 25px;
}

.easy3 {
  margin-bottom: 25px;
}

.easy3 h3 {
  margin-top: 35px;
}

.easy4 h3 {
  margin-top: 30px;
}

.easym {
  border-right: 1px dashed #e3e7ed;
  height: 403.87px;
}

.borderdashedl {
  border-top: 1px dashed #e3e7ed;
  width: 192px;
}

.borderdashedr {
  border-top: 1px dashed #e3e7ed;
  width: 192px;
}

/* last heseg */

.surface {
  padding: 40px 0 80px 0;
  display: flex;
  justify-content: center;
}

.bglast {
  padding: 40px;
  background-color: #1f1f1ff2;
  border-radius: 12px;
  width: 95vw;
}

.last {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
}

.lastl {
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
  width: 800px;
}

.lastl h3 {
  font-size: 18px;
  color: #f7f7f7;
  margin-bottom: 24px;
}

.lastl h5 {
  font-size: 14px;
  color: #a3a3a3;
  margin-top: 12px;
}

.lastl p {
  font-size: 14px;
  color: #f7f7f7;
}

.infol {
  max-width: 148.1px;
  height: 360px;
}

.infom {
  max-width: 166.89px;
  height: 360px;
}

.infor {
  max-width: 208px;
  height: 360px;
}

.mt-3 {
  margin-top: 12px;
}

.lastr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2Fimage_1103_1e55bb8d69.png&w=2048&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 611px;
  height: 220px;
  padding: 40px 24px;
  border-radius: 12px;
  box-shadow: inset 140px 4px 150px -7px rgba(0, 0, 0, 1);
  /* position: absolute;
  right: 0; */
}

.lastr h3 {
  font-size: 24px;
  color: #f7f7f7;
  margin-bottom: 16px;
}

.lastr div {
  display: flex;
  align-items: center;
  background-color: #ef3e3e;
  padding: 6px 8px;
  border-radius: 10px;
  width: 152.92px;
  height: 40px;
}

.lastr button {
  background: none;
  border: none;
  color: #f7f7f7;
  font-size: 14px;
  margin: 0 8px;
}

.lastr i {
  color: #f7f7f7;
}

.lastmiddle {
  border-bottom: 1px solid #5f5f5f;
  margin: 0 0 40px 0;
}

.lastbottom {
  display: flex;
  justify-content: space-between;
}

.flexitems {
  display: flex;
  align-items: center;
}

.flexitems h5 {
  font-size: 12px;
  color: #a3a3a3;
  margin-left: 40px;
}

.flexgap {
  display: flex;
  /* margin-top: 12px; */
  gap: 8px;
}

.fb {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: #404040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
}

.ig {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: #404040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
}

.x {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: #404040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
}

.yt {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: #404040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
}

.in {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: #404040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
}

/* footer heseg */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1ff2;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #5f5f5f;
  width: 779.8px;
  height: 73.33px;
  margin: auto;
  position: sticky;
  bottom: 30px;
}

.footer button {
  font-size: 14px;
  color: #f7f7f7;
  padding: 0 16px;
  border: none;
  background: none;
}

.footer .border {
  border-right: 1px solid #5f5f5f;
  height: 40px;
}

@media screen and (max-width: 1535px) {
  .heroback {
    padding: 96px;
  }

  .card {
    width: 300px;
    height: 418px;
  }

  .utas {
    width: 263px;
    height: 263px;
  }

  .utas1 {
    width: 542px;
    height: 542px;
  }

  .utastom {
    width: 485px;
    height: 428px;
  }

  .utasd1 {
    width: 148px;
    height: 148px;
  }

  .utasd2 {
    width: 148px;
    height: 148px;
  }

  .utass1 {
    width: 148px;
    height: 148px;
  }

  .utass2 {
    width: 148px;
    height: 148px;
  }

  .spacebetween {
    margin-top: 45px;
  }

  .spacebetweentom {
    margin-top: 8px;
  }
}
