* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 92vw;
  height: 72px;
  background-color: #2a2a2a;
  margin: auto;
  border-radius: 14px;
}

.searchl {
  display: flex;
}

.logo {
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2Fmobicom-logo-hq.png&w=256&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 36px;
}

.search {
  width: 221.5px;
  height: 36px;
  margin-right: 32px;
  background-color: #3d3d3d;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.search i {
  color: #b0b0b0;
  font-size: 20px;
}

.search input {
  background: none;
  border: none;
  color: #b0b0b0;
  font-size: 16px;
  font-weight: 200;
}

.darkwhite {
  display: flex;
}

.heroback {
  display: flex;
  background-image: url("https://osa.mobicom.mn/content/mcommerce/uploads/DJI_20231028181037_0240_D_MAX_Recovered_ezgif_com_jpg_to_webp_converter_d02db53f44.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 92vw;
  height: 808px;
  margin: auto;
}

.serparent {
  display: flex;
}

.cardsearchers {
  display: flex;
}

.cardsearch {
  display: flex;
}

.cards {
  display: flex;
}

.parent {
  display: flex;
}

.garparent {
  display: flex;
}

.utasnuud {
  display: flex;
}

.utasjijig {
  display: flex;
}

.tuslamj {
  display: flex;
}

.tusback {
  display: flex;
}

.hogcards {
  display: flex;
}

.easyparent {
  display: flex;
}

.last {
  display: flex;
}

.lastl {
  display: flex;
}

.lastbottom {
  display: flex;
}

.flexitems {
  display: flex;
}

.flexgap {
  display: flex;
}

.footer {
  display: flex;
}
