* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header heseg*/

.header {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 72px;
  background-color: rgb(30, 27, 27);
  margin: auto;
  margin-top: 20px;
  border-radius: 14px;
  border: 1px #fff solid;
  padding: 16px 24px;
  position: sticky;
  top: 20px;
  opacity: 0.9;
  z-index: 1;
}

.searchl {
  display: flex;
}

.logo {
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2Fmobicom-logo-hq.png&w=256&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 36px;
  margin-right: 30px;
  cursor: pointer;
}

.search {
  width: 221.5px;
  height: 36px;
  margin-right: 32px;
  background-color: #3d3d3d;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.search i {
  color: #b0b0b0;
  font-size: 20px;
  margin-left: 13px;
  margin-right: 8px;
  cursor: pointer;
}

.search input {
  background: none;
  border: none;
  color: #b0b0b0;
  font-size: 16px;
  font-weight: 200;
  width: 170px;
}

.Uilchilgee,
.Medeelel,
.delguur {
  background: none;
  border: none;
  color: #f7f7f7;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
}

.Uilchilgee:hover {
  background: #3d3d3d;
  border-radius: 8px;
}

.Medeelel:hover {
  background: #3d3d3d;
  border-radius: 8px;
}

.delguur:hover {
  background: #3d3d3d;
  border-radius: 8px;
}

.darkwhite {
  display: flex;
  color: #f7f7f7;
  min-width: 320px;
  justify-content: end;
}

.sun,
.delhii,
.sags {
  padding: 8px;
  font-size: 20px;
  margin-left: 7px;
  cursor: pointer;
  background-color: #3d3d3d;
  border-radius: 12px;
  width: 40px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

/* hero heseg */

.heroback {
  display: flex;
  justify-content: space-between;
  background-image: url("https://osa.mobicom.mn/content/mcommerce/uploads/DJI_20231028181037_0240_D_MAX_Recovered_ezgif_com_jpg_to_webp_converter_d02db53f44.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95vw;
  height: 808px;
  margin: auto;
  padding: 144px;
  border-radius: 12px;
}

.engiin {
  width: 50%;
  display: flex;
  align-items: end;
  margin-bottom: 80px;
}

.engiin h1 {
  color: #f7f7f7;
  font-size: 48px;
}

.service {
  width: 50%;
  background-color: #c2bcbc;
  padding: 12px;
  border-radius: 24px;
  width: 522px;
  height: 520px;
}

.serheback {
  background-color: #ffffffd9;
  padding: 8px;
  border-radius: 12px;
}

.serviceheader h3 {
  background-color: #292929;
  color: #f7f7f7;
  padding: 8px 32px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

.sergrand {
  background-color: #ffffffd9;
  padding: 16px;
  margin-top: 12px;
  width: 498px;
  height: 432px;
  border-radius: 14px;
}

.serparent {
  display: flex;
  justify-content: space-around;
}

.ser {
  width: 229px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ser:hover {
  background-color: #ffffff;
  border-radius: 10px;
}

.seri i {
  font-size: 36px;
  color: #f87979;
  border: 2px #fac4c4 solid;
  border-radius: 50%;
  padding: 12px;
}

.ser:hover .seri i {
  border: 2px #fac4c4 solid;
  border-radius: 50%;
  padding: 16px;
}

.hover {
  display: flex;
  align-items: end;
  transition: transform 0.3s linear;
}

.ser h3 {
  font-size: 14px;
  color: #262626;
  margin-top: 12px;
  margin-right: 5px;
}

.hover i {
  opacity: 0;
}

.ser:hover .hover {
  transform: translateX(-15px);
}

.ser:hover .hover i {
  opacity: 1;
}

/* special heseg */

.specialoffers {
  margin-top: 24px;
  position: relative;
}

.specialback {
  background-image: url("https://osa.mobicom.mn/content/mcommerce/uploads/specialOfferBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(31, 31, 31, 0.95);
  width: 95vw;
  height: 666.66px;
  margin: auto;
  /* margin-top: 24px; */
  border-radius: 12px;
  padding-top: 80px;
}

.garchignuud h2 {
  font-size: 48px;
  color: #f7f7f7;
  text-align: center;
}

.cardsearchers {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.cardsearch {
  display: flex;
  align-items: center;
  background-color: #3d3d3d;
  width: 643.5px;
  height: 58px;
  border: 1px #4e4e4e solid;
  border-radius: 12px;
  padding: 8px;
  justify-content: space-between;
}

.cardsearch h3 {
  color: #a3a3a3;
  border-radius: 14px;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
}

.cardsearch h3:hover {
  color: #f7f7f7;
  background-color: #1f1f1ff2;
}

.c1 {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.c1 h3 {
  color: #262626;
  font-size: 14px;
}

.delgerengui {
  display: flex;
  align-items: center;
  margin-left: 16px;
  gap: 2px;
  cursor: pointer;
}

.delgerengui button {
  background: none;
  border: none;
  color: #f7f7f7;
  cursor: pointer;
}

.delgerengui i {
  color: #f7f7f7;
}

.cards {
  display: flex;
  width: 100vw;
  height: 638px;
  padding: 64px;
  position: absolute;
  bottom: -200px;
  overflow: scroll;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  position: relative;
  transition: all 0.3s linear;
}

.card div {
  display: flex;
  justify-content: end;
}

.card i {
  color: #fbbf24;
  background-color: #282828;
  padding: 8px 10px;
  border-radius: 50%;
}

.card p {
  color: #f7f7f7;
  font-size: 18px;
  position: absolute;
  bottom: 54px;
}

.card .border {
  border-bottom: 1px solid #4a4a4a;
  position: absolute;
  bottom: 18px;
  width: 88%;
  margin: 16px 0;
}

.card:hover {
  transform: scale(1.1);
}

.card1,
.card3,
.card7 p {
  text-transform: uppercase;
}

.card1,
.card3,
.card7 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/1080_720_904f6b1f30.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/Special_Olympics_medee_721x1081_143e09ad6c.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card4 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/5_G_1_1f3208070f.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card5 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/mobicom_medee_1_1_be49b51926.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card6 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/mobicom_banner_bosoo_white_1_9a38632671.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card8 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/bosoo_a2239ed3ea.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card9 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/721x1081_mobi_1_300x_5f2b7092a4.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

.card10 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9836528361344538) 0%,
      rgba(0, 0, 0, 0) 98%
    ),
    url("https://osa.mobicom.mn/content/mcommerce/uploads/tses_94a742c09f.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 349px;
  height: 509px;
  border-radius: 12px;
  padding: 16px 20px;
}

/* onlineshop heseg */

.onlineshop {
  margin: auto;
  margin-top: 210px;
  width: 95vw;
  padding: 32px 80px;
  background-color: #fafafa;
  border-radius: 12px;
}

.onlineshop h2 {
  font-size: 48px;
  text-align: center;
}

.parent {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.parent button {
  font-size: 14px;
  background: none;
  border: none;
  padding: 8px 20px;
  color: #262626;
  cursor: pointer;
}

.garparent {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #0000001a;
  border-radius: 10px;
  width: 280px;
}

.garparent button:hover {
  background-color: #eff1f6;
  border-radius: 12px;
}

.btn1 {
  background-color: #222222;
  border-radius: 12px;
}

.btn1 button {
  color: #ffffff;
}

.btn3 {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.btn3 button {
  padding: 8px 0 8px 20px;
  margin-right: 5px;
}

.btn3 i {
  color: #262626;
}

.utasnuud {
  display: flex;
  margin-top: 32px;
  justify-content: center;
}

.utas {
  width: 312px;
  height: 328px;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 12px;
}

.utas1 {
  width: 641px;
  height: 675px;
  padding: 45px 12px 12px 12px;
  border-radius: 12px;
  background-color: #ffffff;
  margin-right: 16px;
}

.utas1 h5 {
}

.utastom {
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2FHUAWEI_Pura_70_Pro_Black_Rear_expand_3a83fc8cb7.webp&w=2048&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 615.6px;
  height: 539px;
}

.utasjijig {
  display: flex;
}

.utasd {
  margin-right: 16px;
}

.utas2 {
  margin-bottom: 16px;
}

.utasd1 {
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2FHUAWEI_Pura_70_Pink_Rear_expand_Without_U_e07b3d828c.webp&w=640&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 187px;
  height: 187px;
}

.utasd2 {
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2F011_galaxy_s24_onyxblack_front2_8ee17f8957.webp&w=640&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 187px;
  height: 187px;
}

.utass1 {
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2Fredmagic_8s_pro_3_a443836e76.webp&w=640&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 187px;
  height: 187px;
}

.utass2 {
  background-image: url("https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2FZTE_A73_1_566aabf3b7.webp&w=640&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 187px;
  height: 187px;
}

/* tuslamj heseg */

.tuslamj {
  display: flex;
}

.tusback {
  display: flex;
}

/* hogjil heseg */

.hogcards {
  display: flex;
}

/* easy app heseg */

.easyparent {
  display: flex;
}

/* last heseg */

.last {
  display: flex;
}

.lastl {
  display: flex;
}

.lastbottom {
  display: flex;
}

.flexitems {
  display: flex;
}

.flexgap {
  display: flex;
}

/* footer heseg */

.footer {
  display: flex;
}
