@media screen and (max-width: 1024px) {
  .search {
    display: none;
  }

  .Delguur {
    display: none;
  }

  .header {
    padding: 12px;
    height: auto;
  }

  .heroback {
    padding: 48px;
  }

  .serviceheader h3 {
    font-size: 12px;
  }

  .service {
    width: 375px;
  }

  .sergrand {
    width: 100%;
  }

  .ser {
    width: 100%;
  }

  .cardsearch {
    width: auto;
  }

  .cardsearch h3 {
    padding: 8px;
  }

  .c1 {
    padding: 5px;
  }

  .delgerengui {
    display: none;
  }

  .cardsearchers {
    margin-top: 30px;
  }

  .cards {
    height: 481px;
  }

  .btn3 {
    display: none;
  }

  .parent {
    margin-top: 32px;
  }

  .utasnuud {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .utasjijig {
    margin-top: 16px;
    /* display: flex; */
    width: 560px;
    overflow: scroll;
  }

  .utasd {
    display: flex;
    gap: 14px;
  }

  .utass {
    display: flex;
    gap: 14px;
  }

  .utas {
    margin: 0;
  }

  .spacebetween {
    margin-top: 12px;
  }

  .utas1 {
    width: 560px;
    height: 560px;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .utas1 img {
    width: 100%;
  }

  .spacebetweentom {
    margin-top: 160px;
    width: 91%;
    margin-left: 15px;
  }

  .onlineshop {
    padding: 64px 32px;
  }

  .tuslamj {
    padding: 24px 0;
  }

  .minituslamj {
    display: block;
  }

  .tuszuun h2 {
    width: auto;
  }

  .parentai {
    max-width: 974px;
    width: 100%;
    height: 93px;
  }

  .tusback {
    display: flex;
    gap: 16px;
    /* width: 970px; */
    /* width: auto; */
    width: 100%;
    height: auto;
    overflow: scroll;
    background-image: none;
  }

  .tusleft {
    display: flex;
    margin-top: 50px;
    gap: 16px;
  }

  .tusright {
    display: flex;
    margin-top: 50px;
    gap: 16px;
  }

  .tus {
    margin: 0;
  }

  .hogjil {
    margin: 0;
    margin: auto;
    padding: 48px 20px;
    height: auto;
  }

  .hogcard {
    width: 200px;
    height: 233px;
  }

  .easy {
    padding: 64px 48px;
  }

  .easyparent {
    display: flex;
    justify-content: center;
    max-width: 970px;
    overflow: scroll;
    gap: 16px;
  }

  .easyl {
    display: flex;
    gap: 16px;
    margin-left: 750px;
  }

  .easyr {
    display: flex;
    gap: 16px;
  }

  .easym {
    display: none;
  }

  .borderdashed {
    display: none;
  }

  .easyt {
    margin: 0;
  }

  .lastl {
    display: block;
    width: 100%;
  }

  .lastl h5 {
    display: none;
  }

  .lastl p {
    display: none;
  }

  .infol {
    height: auto;
  }

  .infom {
    height: auto;
  }

  .infor {
    height: auto;
  }

  .tuhai {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }

  .tuhai i {
    display: block;
  }

  .bglast {
    padding: 24px;
  }

  .lastbottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flexitems .logo {
    display: none;
  }

  .flexitems h5 {
    margin: 0 0 14px 0;
  }

  .footer {
    display: none;
  }
}

@media screen and (max-width: 926px) {
  .easyl {
    margin-left: 850px;
  }
}

@media screen and (max-width: 829px) {
  .easyl {
    margin-left: 950px;
  }
}

@media screen and (max-width: 768px) {
  .darkwhite {
    min-width: 0;
  }

  .heroback {
    display: block;
    padding: 16px;
  }

  .engiin {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 98px;
  }

  .service {
    width: 100%;
    margin-top: 110px;
  }

  .specialback {
    padding: 0;
    padding-top: 56px;
    height: 541px;
  }

  .specialback h2 {
    font-size: 30px;
    /* margin-top: 56px; */
  }

  .cardsearch h3 {
    display: none;
  }

  .cardsearch {
    padding: 8px;
    width: 253px;
  }

  .cardsearch i {
    display: block;
    padding: 6px 8px;
    color: #a3a3a3;
    cursor: pointer;
  }

  .c1 {
    padding: 5px 5px;
    border-radius: 12px;
  }

  .c1 i {
    color: red;
  }

  .cards {
    bottom: -100px;
  }

  .onlineshop {
    margin-top: 100px;
  }

  .utas {
    width: 185.3px;
    height: 185.3px;
  }

  .utasjijig {
    max-width: 650px;
    width: 100%;
  }

  .utas1 {
    max-width: 650px;
    width: 100%;
    height: 409px;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .utas1 img {
    width: 100%;
  }

  .spacebetweentom {
    margin-top: 20px;
    width: 91%;
    margin-left: 15px;
  }

  .tus {
    width: 278px;
    height: 229px;
  }

  .hogcards {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .hogcard {
    width: 100%;
  }

  .easyt {
    width: 288px;
    height: 208px;
  }

  .easyt h3 {
    font-size: 16px;
  }

  .easyt p {
    font-size: 12px;
  }

  .easyparent {
    padding: 0;
    max-width: 670px;
    width: 100%;
    display: flex;
    overflow: scroll;
    gap: 16px;
  }

  .easyl {
    margin-left: 610px;
  }
}

@media screen and (max-width: 680px) {
  .easyl {
    margin-left: 710px;
    /* margin-left: 1010px; */
    /* margin-left: 1140px; */
  }
}

@media screen and (max-width: 585px) {
  .easyl {
    margin-left: 810px;
  }
}

@media screen and (max-width: 485px) {
  .easyl {
    margin-left: 910px;
  }
}
